#tmp files
.*
!.gitignore
*~

#GIT files
GIT_REVISION
SVN_REVISION

# Autotools tmp files
/build-scripts
!/build-scripts/autoclean.sh
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
m4
.deps
libtool
/aclocal.m4

# Compiled Binaries
/src/cplus2asp/cplus2asp
/src/cplus2asp.bin/cplus2asp.bin
/external/as2transition/src/as2transition
/build*/
*.o
*.la
*.so*
*.a

# Other stuff
/precompiled
*.html
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report

